# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
coverage/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android Studio
/android/app/debug
/android/app/profile
/android/app/release

# Secrets
.env
.env.*
**/google-services.json
**/GoogleService-Info.plist
firebase_options.dart

# Generated
*.g.dart
*.freezed.dart
